<form method="POST" action="/store" enctype="multipart/form-data"> 
    <label for="txtnombre">Nombre:</label>
    <input type="text" name="txtnombre" id="txt"> 
    </br>
    <label for="txtedad">edad:</label>
    <input type="number" name="txtedad" id="txt"> 
    </br>
    <label for="txtfc">fecha Nacimiento:</label>
    <input type="date" name="txtfc" id="txt"> 
    </br>
    <label for="txtfoto">fecha Nacimiento:</label>
    <input type="file" name="txtfoto" id="txt"> 
    </br>
    </br>
    <input type="submit" value="Agregar Nuevo Socio">

</form>